* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
}

.message {
  position: absolute;
  top: 49%;
  left: 44%;
}

.steelblue {
  position: absolute;
  top: 51%;
  left: 45%;
  background-color: steelblue;
}

.center:hover > .steelblue {
  transform: translatex(200px) rotate(90deg);
  transition: 2s;
}

.dimgray {
  position: absolute;
  top: 30%;
  left: 45%;
  background-color: dimgray;
}

.center:hover > .dimgray {
  transform: translatex(200px) rotate(-90deg);
  transition: 2s;
}

.rosybrown {
  position: absolute;
  top: 51%;
  left: 35%;
  background-color: rosybrown;
}

.center:hover > .rosybrown {
  transform: translatex(-200px) rotate(-90deg);
  transition: 2s;
}

.yellow {
  position: absolute;
  top: 30%;
  left: 35%;
  background-color: yellow;
}

.center:hover > .yellow {
  transform: translatex(-200px) rotate(90deg);
  transition: 2s;
}
